server:
  port: 80
  baseURL:  "/"
  disablePreviews: true                  # disable all previews thumbnails, simple icons will be used
  disablePreviewResize: true             # disable resizing of previews for faster loading over slow connections
  logging:
    - levels: "error"
      apiLevels: "error"
  database: "./data/database.db"                 # path to the database file
  sources:
    - path: "/folder"
      name: "My Folder"             # optional, otherwise the source gets named the folder name
      config:
        defaultUserScope: "/Users"   # include leading slash
        defaultEnabled: true         # this gives the source to all users by default.
        createUserDir: true          # "/Users/username" directory will be created
        disableIndexing: false         # if set to true, nothing gets indexed but is still viewable in the UI
    - path: "/folder/Share"
      name: "Share"
      config:
        defaultUserScope: "/"
        defaultEnabled: false
        createUserDir: false
        disableIndexing: false
  externalUrl: "fbquantum.test.gregvanko.com"                         # used by share links if set
  # internalUrl: ""                         # used by integrations if set, this is the url that an integration service will use to communicate with filebrowser
  cacheDir: "tmp"                         # path to the cache directory, used for thumbnails and other cached files
  maxArchiveSize: 5                      # max pre-archive combined size of files/folder that are allowed to be archived (in GB)
frontend:
  name: "BlackNet"                  # display name
  disableDefaultLinks: true              # disable default links in the sidebar
  disableUsedPercentage: true            # disable used percentage for the sources in the sidebar
 # externalLinks:
 #   - text: my home page                  # the text to display on the link  validate:required
 #     title: my home page                 # the title to display on hover
 #     url: https://domain.com/            # the url to link to  validate:required
  disableNavButtons: false                # disable the nav buttons in the sidebar
auth:
  methods:
    noauth: false
    password:
      enabled: true
      minLength: 5  # set min password length requirement -- defaults to 5 if unset
      signup: false
  adminUsername: admin
userDefaults:
  editorQuickSave: true                  # show quick save button in editor
  hideSidebarFileActions: true           # hide the file actions in the sidebar
  disableQuickToggles: true              # disable the quick toggles in the sidebar
  disableSearchOptions: false             # disable the search options in the search bar
  stickySidebar: false                     # keep sidebar open when navigating
  darkMode: true                          # should dark mode be enabled
  locale: "en"                            # language to use: eg. de, en, or fr
  viewMode: "compact"                      # view mode to use: eg. normal, list, grid, or compact
  singleClick: false                      # open directory on single click, also enables middle click to open in new tab
  showHidden: true                       # show hidden files in the UI. On windows this includes files starting with a dot and windows hidden files
  dateFormat: false                       # when false, the date is relative, when true, the date is an exact timestamp
  gallerySize: 4                          # 0-9 - the size of the gallery thumbnails
  themeColor: "var(--blue)"               # theme color to use: eg. #ff0000, or var(--red), var(--purple), etc
  quickDownload: false                    # show icon to download in one click
  # disableOnlyOfficeExt: ".txt .csv .html .pdf" # comma separated list of file extensions to disable onlyoffice preview for
  disablePreviewExt: ""             # comma separated list of file extensions to disable office preview for
  lockPassword: false                     # disable the user from changing their password
  disableSettings: false                  # disable the user from viewing the settings page
  preview:
    disableHideSidebar: false
    image: false
    popup: false
    video: false
    office: false
    highQuality: false
    motionVideoPreview: false
    autoplayMedia: false
  permissions:
    admin: false
    modify: true
    share: true
    api: false
    realtime: false
  loginMethod: "password"                 # login method to use: eg. password, proxy, oidc
integrations:
  media:
    ffmpegPath: "/usr/local/bin"          # wherever you have both ffmpeg and ffprobe installed at
