services:
	prometheus:
		image: prom/prometheus:latest
		container_name: prometheus
		ports:
			- 9090:9090
		command: "--config.file=/etc/prometheus/prometheus.yaml"
		volumes:
			- ./Config/config/prometheus.yaml:/etc/prometheus/prometheus.yaml:ro
			- ./Config/data:/prometheus
		restart: unless-stopped
		networks:
			- frontend

	prometheus-node-exporter:
		image: prom/node-exporter:latest
		container_name: Prometheus-node-exporter
		restart: unless-stopped
		volumes:
			- /proc:/host/proc:ro
			- /sys:/host/sys:ro
			- /:/rootfs:ro
		command:
			- '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
		ports:
			- 9100:9100   
		networks:
			- frontend

networks:
	frontend:
		external: true