services:
  nginx:
    image: nginx:1.25.5-alpine
    container_name: nginx
    volumes:
      - ./Config/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./Sites-enabled:/etc/nginx/sites-enabled
      - ./www:/var/www/
      - ./Log:/var/log/nginx
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx-https.entrypoints=websecure"
      - "traefik.http.routers.nginx-https.rule=Host(`memento.gregvanko.com`) || Host(`memorx.vanko.be`) "
      - "traefik.http.routers.nginx-https.tls=true"
      - "traefik.http.routers.nginx-https.tls.certresolver=cloudflare"
      - "traefik.http.services.nginx-https.loadbalancer.server.port=80"
    networks:
      - frontend
    restart: unless-stopped

networks:
  frontend:
    external: true
