services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: uid:gid
    volumes:
      - ./Config/config:/config
      - ./Config/cache:/cache
      - Nas-Docker-Vide:/media
     # - type: bind
     #   source: /path/to/media
     #   target: /media
     #   read_only: true
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://example.com
    network_mode: 'host'
volumes:
  Nas-Docker-Video:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.10.23,ro,nolock
      device: ":/var/nfs/shared/Videos"
