services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: uid:gid
    volumes:
      - ./Config/config:/config
      - ./Config/cache:/cache
      - type: bind
        source: /path/to/media
        target: /media
        read_only: true
      - type: bind
        source: /path/to/media2
        target: /media2
        read_only: true
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://example.com
    network_mode: 'host'
