services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
      - 8096:8096
    volumes:
      - ./Config/config:/config
      - ./Config/cache:/cache
      - Nas-Docker-Vide:/media
     # - type: bind
     #   source: /path/to/media
     #   target: /media
     #   read_only: true
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - JELLYFIN_PublishedServerUrl=http://example.com
    networks:
      - frontend
volumes:
  Nas-Docker-Video:
    driver: local
    driver_opts:
      type: nfs
      o: addr=192.168.10.23,ro,nolock
      device: ":/var/nfs/shared/Videos"
